# 2018년 3월 28일 점프투파이썬 2장 
## 테스트
- 숫자형
    1. 기능1
    2. 기능2
- 문자열
- 리스트

## 1절 숫자형

In [7]:
7//4

1

In [9]:
3**2

9

### lab 1
#### 수익계산
- 변수 revenue를 생성 후 98456 할당 
- 변수 cost를 생성 후 45000 할당
- 변수 profit을 생성 후 revenue와 cost 차이값으로 생성
- profit 출력

## 2절 문자열

In [10]:
boy = 'i am a boy'
boy

'i am a boy'

In [11]:
girl = 'i am a girl'
girl

'i am a girl'

In [12]:
boy * 3

'i am a boyi am a boyi am a boy'

## 3절 리스트

In [13]:
revenue = 98456
cost = 45000
profit = revenue - cost
profit[profit]

TypeError: 'int' object is not subscriptable

### lab 2
#### 문자열 나누기
- 변수 a를 생성해서 문자열 'I love python'
- 변수 b를 생성해서 문자열 'You hate python'

In [ ]:
# 문자열 삽입하기
a =

In [26]:
a = "i love python"
a.upper()

'I LOVE PYTHON'

In [19]:
"pi is {pi}, and square root of 2 is {sq_root}"

'pi is {pi}, and square root of 2 is {sq_root}'

In [30]:
# 문자열 나누기
a = "Life is too short, you need python"
a.split()

['Life', 'is', 'too', 'short,', 'you', 'need', 'python']

 a = 'life is too short, you need python'
 a[0] = a[10]

In [ ]:
a = "20180328sunny"
year = a[14]
month = a[4:6]
day = a[6:8]
weather = []
print[year, monthm day, weather]

문자열 내장함수

In [20]:
a = "나는 나다"
a.count ('나')

2

In [23]:
a = "hobby"
a.count ('b')
a.find('b')

2

## lab 2 이어서-
- 변수 를 찾아서

In [ ]:
a.6 = a{}

### lab 3
#### 문자열 
- 변수 p를 생성하고 3.141592를 달성하시오.
- 변수 sq_root를 생성하고 1.41429를 할당하시오.